PORT=3000
SESSION_SECRET=change-this-long-random

ADMIN_USER=admin
ADMIN_PASS=admin12345
ADMIN_PATH=/admin

BASE_URL=https://pansa.my.id

# fallback if not set in admin panel
TMDB_API_KEY=
TMDB_LANG=en-US
TMDB_REGION=US
SMARTLINK_URL=
